[submodule "qbs"]
	path = qbs
	url = https://github.com/hkarel/QbsExt.git
[submodule "src/yaml"]
	path = src/yaml
	url = https://github.com/hkarel/yaml-cpp.git
[submodule "src/shared/shared"]
	path = src/shared/shared
	url = https://github.com/hkarel/SharedTools.git
[submodule "src/3rdparty/filter_audio"]
	path = src/3rdparty/filter_audio
	url = https://github.com/irungentoo/filter_audio.git
[submodule "src/3rdparty/toxcore"]
	path = src/3rdparty/toxcore
    url = https://github.com/hkarel/c-toxcore.git
[submodule "src/3rdparty/rnnoise"]
	path = src/3rdparty/rnnoise
	url = https://github.com/xiph/rnnoise.git
[submodule "src/pproto/pproto"]
	path = src/pproto/pproto
	url = https://github.com/hkarel/PProtoCpp.git
[submodule "setup/scripts"]
	path = setup/scripts
	url = https://github.com/hkarel/InstallScripts.git
