[Unit]
Description=Controls the frequency of processor for ToxPhone
After=cpufrequtils.service

[Service]
Type=simple
User=root
Group=toxphone
ExecStart=/opt/toxphone/toxphone-cpufreq
TimeoutSec=15
KillMode=process
Restart=on-failure

[Install]
RequiredBy=cpufrequtils.service
