[Unit]
Description=ToxPhone service
After=network.target multi-user.target

[Service]
Type=simple
User=%TARGET_USER%
Group=toxphone
ExecStart=/opt/toxphone/toxphone -n
TimeoutSec=300
KillMode=mixed
Restart=on-failure
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
